body{
    font-family: 'Poppins', sans-serif;
    margin: 0;                               /* (eta korar karon hocche jodi kono kichu add korle seta browser ekdom konay lagaite chai tahole eta korte hobe, karon browser bt default ektu margin kore dey.eta korle seta chole jay.) */
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color-jhankar{
    color: orange;
}
.flexible-container{
    display: flex;                                       /* (eta diye 2ta section ke pasha pashi rakha jay) */
    margin-bottom: 150px;                                      /* (eta diye 2ta section er majhe gap kora hoiche) */
}
.half-width{
    width: 50%;
    padding: 2%;
    text-decoration: none;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;                                    /* (eta kora hoy karon kono line ke anchor korle oi line er niche ekta dag ashe, eita korle ar sei dag ashe na) */
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);              /* (evabe section e image use kora hoy */
    background-repeat: no-repeat;                                    /* (kono bacground image ekta dile jodi seta vibinno jaygay chole jay tahole evabe korle seta repeat kora bondho hoye jabe.) */
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.padding{
    padding-right: 20%;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
  
}
.expeirence-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
#border-color1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#border-color{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, orange);
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
}